
body{
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-family: poppins !important;
    font-size: 18px !important;
    background: url('https://i.ibb.co/BZdqby2/background1.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}


.box{
    background-color: rgba(255, 255, 255, 0.658);
    border: 1px solid;
    padding: 10px;
}

.row {
    margin-bottom: 10px;
}

