*
{
    margin:0;
    padding:0;
}
body
{
    background-image: url(../product/img/background1.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}
.top-nav-bar
{
    height: 57px;
    top: 0;
    position: sticky;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 3px solid orange;
    z-index: 2;

}
.logo
{
    height: 40px;
    margin: 5px 10px;
}
.form-control
{
    margin-top: 9px;
    scroll-margin-left: 30px;
    border: 1px solid orange !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}
.input-group-group-text
{
    background: orange !important;
    border: 5px solid orange !important;
    margin: 8.5px 10px 3px 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}
.input-group-group-text:hover
{
    background: rgb(214, 140, 1) !important;
    border: 5px solid  rgb(214, 140, 1) !important;
    margin: 8.5px 10px 3px 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
    transition-delay: 0.2s;
}
.search-box
{
    display: inline-flex;
    width: 60%;
}
.fa-search
{
    color:white !important;
    margin-top: 6px !important;
}
.menu-bar
{
    width: 40%;
    height: 20px;
    float: right;
}
.menu-bar ul
{
    display: inline-flex;
    float: right;
}
.menu-bar ul li 
{
    border-left: 2px solid #fff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: orange;
    cursor: pointer;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.menu-bar ul li:hover
{
    border-left: 2px solid  #fff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: rgb(214, 140, 1);
    cursor: pointer;
    transition-delay: 0.2s;
}
.menu-bar ul li a
{
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.fa-shopping-basket
{
    margin-right: 5px;

}
@media only screen and (max-width: 980px)
{
    .top-nav-bar
    {
        height: 118px;
        border-bottom: 0;
    }
    .search-box
    {
        width: 100%;
    }
    .menu-bar
    {
        width: 100%;
    }
    .menu-bar ul
    {
        margin: 10px 0;
        width: 100%;
    }
    .menu-bar ul li
    {
        height: 57px;
        width: 100%;
    }
}


.side-menu
{
    height: 25%;
    width:15%;
    font-size: 14px;
    float: left; 
    z-index: 2;
    background-color:black;

}
.side-menu ul
{
    margin-left: 20px;
}
.side-menu ul li
{
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    font-size: x-large;
    padding-right: 5px;
}
.side-menu ul li:hover
{
    color:orange;
}
.side-menu ul li ul
{
    display: none;
    z-index: 10;
    top: 77px;
}
.side-menu ul li:hover ul
{
    display: block;
    height: 400px;
    margin-left: 13%;
    padding: 0 100px 10px 10px;
    position: fixed;
    background: gray;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
}
.fa-angle-right
{
    margin-top: 4px;
    margin-right: 8px;
    float: right;
}
#menu-btn,#close-btn
{
    font-size: 30px; 
    margin: 10px;
    color: orange;
    display: none;
}
#menu-btn:hover,#close-btn:hover
{
    font-size: 30px; 
    margin: 10px;
    color: rgb(214, 140, 1);
    transition-delay: 0.2s;
}
@media only screen and (max-width: 980px)
{
    .side-menu
    {
        width: 34%;
        z-index: 20;
        top: 133px;
        position: fixed;
        font-size: 12px;
        display: none;
    }
    .side-menu ul li ul
    {
        top: 133px;
    }
    .side-menu ul li:hover ul
    {
        margin-left: 31%;
    }
    #menu-btn
    {
        display: block;
    }
}


.profile
{
    width: 80%;
    height: 57px;
    border: 3px solid orange;
    border-collapse: collapse;
    float: right;
    margin-right: 20px;
}
.profile th
{
    text-align:center; 
    border: 3px solid orange;
    background-color: white;
}
.profile td
{
    text-align:center; 
    border: 3px solid orange;
    background-color: rgba(255, 255, 255, 0.733);
    font-weight: bold;
}
#profile-pic
{
    font-size: 80px; 
    margin: 10px;
    color: orange;
}

#added-btn
{
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    display: none;
}
#added-btn:hover
{
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    color: rgb(214, 140, 1);
    transition-delay: 0.2s;
}
#add-btn
{   
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    display: block;
}
#add-btn:hover
{   
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    display: block;
    color: rgb(214, 140, 1);
    transition-delay: 0.2s;
}
#added-btn2
{
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    display: none;
}
#added-btn2:hover
{
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    color: rgb(214, 140, 1);
    transition-delay: 0.2s;
}
#add-btn2
{   
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    display: block;
}
#add-btn2:hover
{   
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    display: block;
    color: rgb(214, 140, 1);
    transition-delay: 0.2s;
}
#added-btn3
{
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    display: none;
}
#added-btn3:hover
{
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    color: rgb(214, 140, 1);
    transition-delay: 0.2s;
}
#add-btn3
{   
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    display: block;
}
#add-btn3:hover
{   
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    display: block;
    color: rgb(214, 140, 1);
    transition-delay: 0.2s;
}
#added-btn4
{
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    display: none;
}
#added-btn4:hover
{
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    color: rgb(214, 140, 1);
    transition-delay: 0.2s;
}
#add-btn4
{   
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    display: block;
}
#add-btn4:hover
{   
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    display: block;
    color: rgb(214, 140, 1);
    transition-delay: 0.2s;
}
#added-btn5
{
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    display: none;
}
#added-btn5:hover
{
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    color: rgb(214, 140, 1);
    transition-delay: 0.2s;
}
#add-btn5
{   
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    display: block;
}
#add-btn5:hover
{   
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    display: block;
    color: rgb(214, 140, 1);
    transition-delay: 0.2s;
}
#added-btn6
{
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    display: none;
}
#added-btn6:hover
{
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    color: rgb(214, 140, 1);
    transition-delay: 0.2s;
}
#add-btn6
{   
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    display: block;
}
#add-btn6:hover
{   
    font-size: 50px; 
    margin: 5px;
    color: orange;
    cursor: pointer;
    display: block;
    color: rgb(214, 140, 1);
    transition-delay: 0.2s;
}